.quiz-container{
    border: 1px solid black;
    width: 60%;
    justify-content: center;
    align-items: center;
    margin-left: 25%;
    margin-bottom: 10px;
}
.options{
  justify-items: left;
}
.icon{
    height: 30px;
    width: 30px;
    text-align: right;
    align-items: flex-end;
    margin-left: 90%;
   color: blue;
}