
.logo {
    margin-left: 20px;
}
#link a{
  text-decoration: none;
  color: #A24177;
  margin-right: 20px; 
  
} 
#link a:active{
  background-color: #A24177;
  color: #ebeef4;
}
nav{
     box-shadow: 5px 10px #ebeef4;
     width: 100%;
}


/* .container h1{
    font-family: 'Arimo', sans-serif;
    font-weight: 700;
    font-size: larger;

} */
