
.logo {
    margin-left: 20px;
}
#link a{
  text-decoration: none;
  color: #A24177;
  margin-right: 20px; 
  
} 

nav{
     box-shadow: 5px 10px #ebeef4;
     width: 100%;
}

/* .container h1{
    font-family: 'Arimo', sans-serif;
    font-weight: 700;
    font-size: larger;

} */
.container{
  background-color: rgb(237, 247, 254);
  width: 100%;
  height: 370px;
  margin-top: 9px;
  text-align: center;

}
.container button{
  border: 0px;
  color: white;
  background-color: black;
  
}