.chart{
     display: grid;
    grid-column: 1fr 1fr;
    justify-content: center;
    align-items: center;


    margin-top: 4%;

}
@media only screen and  (max-width:688px) {
    .chart{
        width: 100%;
        overflow: hidden;
        display: grid;
        grid-column: 1fr 1fr;
    }
}